/* Algemene reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e6ded0;
  color: #4d4d4d;
  text-align: center;
}

/* Header */
header {
  background-color: #9c1925; /* Dieprood */
  padding: 15px 10px;
  color: #e6ded0;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

h1 {
  color: #ffffff;
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Speelbord */
#game-board {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin: 30px auto;
}

.card {
  position: relative;
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #9c1925;
  border-radius: 8px;
}

.card-front {
  background-color: #f7f3ef;
  background-image: url('kersticoon.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.card-back {
  background-color: #2a9d8f;
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

/* Gematchte kaarten */
.card.matched {
  pointer-events: none;
  background-color: #4caf50;
}

#restart-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #9c1925;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  margin-top: 20px;
  background-color: #9c1925;
  color: #e6ded0;
  padding: 10px 0;
}
