/* Algemene reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ebe5dc;
  color: #4d4d4d;
  text-align: center;
}

header {
  background-color: #e6ded0;
  padding: 20px;
}

.logo {
  width: 150px;
}

h1 {
  color: #9c1925;
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 15px;
  justify-content: center;
  margin: 30px auto;
}

.card {
  position: relative;
  width: 150px;
  height: 150px;
  cursor: pointer;
  perspective: 1000px; /* 3D-perspectief */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.card-front {
  background-color: #e6ded0;
  border: 2px solid #9c1925;
  color: #9c1925;
}

.card-back {
  background-color: #9c1925;
  color: #fff;
  transform: rotateY(180deg);
}

.hidden {
  visibility: hidden;
}

#restart-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #9c1925;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#restart-btn:hover {
  background-color: #b71c1c;
}

footer {
  background-color: #9c1925;
  color: #e6ded0;
  padding: 10px 0;
}
